.input{
    display: inline-block;
    border-collapse: separate;
}
.input td{
    padding: 16px;
}
table{
    text-align: center;
}
.table-bordered tr{
    border-width: 1px 0;
}
.table-bordered td{
    border-width:0 1px;
    padding: 0.5rem 0.5rem;
}
.output{
    display:none;
}


#toast-info {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #toast-info.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }